.btn-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #1f1f23;
    animation: rainbow-animation 6s linear infinite;
    transition: all 0.25s ease;
}

@keyframes rainbow-animation {
  0% {
    color: red;
  }
  16% {
    color: orange;
  }
  33% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66% {
    color: cyan;
  }
  83% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.start-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
}

.start-button:active {
    transform: scale(0.95);
}

.icon {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}